.list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #1d1d1d;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
  z-index: 1300;
}

.link {
  display: inline-block;
  padding: 25px;
  color: #b85217;
  font-size: 28px;
  font-weight: 500;
}

.activeLink {
  color: #f8640e;
}
