.list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-color: rgb(255, 115, 0);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
  z-index: 1300;
}

.link {
  display: inline-block;
  padding: 30px;
  color: white;
  font-size: 42px;
  font-weight: 500;
}

.activeLink {
  color: aqua;
}
