.containerImage {
  height: 550px;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100px;
}

.title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: rgb(255, 255, 255);
}
