.section {
  padding: 20px 15px 0px 15px;
  text-align: center;
}

.title {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #f8640e;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  text-align: center;
  margin: -10px;
}

.item {
  width: 250px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background-color: #7e7e7e;
}

.imageContainer {
  height: 250px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.name {
  margin: 10px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.text {
  margin: 8px 0px 0px;
  font-size: 14px;
  color: #fff;
}
